{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": [2, "single"],
    "space-in-parens": ["error", "never"],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "eol-last": ["error", "always"]
  }
}
